In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [67]:
import importlib
import os, sys
from pathlib import Path

p = str(Path(os.getcwd()).parent) + os.sep + 'mpykrx'
sys.path.insert(1, p)

In [68]:
import db_manager
import pykrx_manager

In [75]:
importlib.reload(db_manager)
importlib.reload(stock)

In [76]:
dbm = db_manager.DbManager()
stock = pykrx_manager.stock

In [77]:
df = stock.get_modified_market_ohlcv_by_ticker("20230223", "ALL")
dbm.write_and_move_data_frame('daily_stock_price_tb', df)

        insert into daily_stock_price_tb (
            stock_code, stock_name, market, department, open_price, high_price, low_price, close_price, cmpared_prev_price, fluctuation_rate, trading_volume, trading_value, listed_shared, created_date
        )
        select 티커, 종목명, 시장이름, 소속부, 시가, 고가, 저가, 종가, 전일대비, 등락률, 거래량, 거래대금, 상장주식수, now()
        from temp_tb
        on duplicate key update stock_code = values(stock_code), stock_name = values(stock_name), market = values(market), department = values(department), open_price = values(open_price), high_price = values(high_price), low_price = values(low_price), close_price = values(close_price), cmpared_prev_price = values(cmpared_prev_price), fluctuation_rate = values(fluctuation_rate), trading_volume = values(trading_volume), trading_value = values(trading_value), listed_shared = values(listed_shared), created_date = values(created_date), is_updated='y', updated_date=now()

OperationalError: (1054, "Unknown column 'listed_shared' in 'field list'")

In [65]:
df = stock.get_modified_market_ohlcv_by_ticker("20230223", "ALL")
df

,종목명,시장이름,소속부,시가,고가,저가,종가,전일대비,등락률,거래량,거래대금,상장주식수
티커,,,,,,,,,,,,
060310,3S,KOSDAQ,중견기업부,2360,2365,2300,2315,-35,-1.49,337023,783824005,48536642
095570,AJ네트웍스,KOSPI,0,5460,5490,5390,5460,0,0.00,221103,1198496020,46822295
006840,AK홀딩스,KOSPI,0,17630,17800,17600,17800,170,0.96,3660,64645100,13247561
054620,APS홀딩스,KOSDAQ,중견기업부,13600,13760,13510,13760,160,1.18,33855,462507640,20394221
265520,AP시스템,KOSDAQ,우량기업부,20250,20600,20250,20550,400,1.99,70447,1438035600,15281421
...,...,...,...,...,...,...,...,...,...,...,...,...
000547,흥국화재2우B,KOSPI,0,19070,23000,19070,19620,550,2.88,13309,278478290,153600
000545,흥국화재우,KOSPI,0,6800,7300,6800,7060,220,3.22,10544,75450060,768000
003280,흥아해운,KOSPI,0,1525,1575,1519,1537,24,1.59,647891,1005962159,240424899
037440,희림,KOSDAQ,우량기업부,9980,10050,9840,9900,-100,-1.00,333425,3313340980,13922475
238490,힘스,KOSDAQ,우량기업부,6420,6420,6250,6380,0,0.00,14595,92268640,11312236

In [66]:
dbm.write_and_move_data_frame('daily_stock_price_tb', df)

mysql+pymysql://super:aksaksgo1!@146.56.43.43:3306/stock

            select to_column_name from data_matching_information_tb
            where from_table_name = %s and from_column_name = %s and to_table_name = %s;

('temp_tb', '티커', 'daily_stock_price_tb')

            select to_column_name from data_matching_information_tb
            where from_table_name = %s and from_column_name = %s and to_table_name = %s;

('temp_tb', '종목명', 'daily_stock_price_tb')

            select to_column_name from data_matching_information_tb
            where from_table_name = %s and from_column_name = %s and to_table_name = %s;

('temp_tb', '시장이름', 'daily_stock_price_tb')

            select to_column_name from data_matching_information_tb
            where from_table_name = %s and from_column_name = %s and to_table_name = %s;

('temp_tb', '소속부', 'daily_stock_price_tb')

            select to_column_name from data_matching_information_tb
            where from_table_name = %s and from_column_name = %s and to_table_name = %s;

('temp_tb', '시가', 'daily_stock_price_tb')

            select to_column_name from data_matching_information_tb
            where from_table_name = %s and from_column_name = %s and to_table_name = %s;

('temp_tb', '고가', 'daily_stock_price_tb')

            select to_column_name from data_matching_information_tb
            where from_table_name = %s and from_column_name = %s and to_table_name = %s;

('temp_tb', '저가', 'daily_stock_price_tb')

            select to_column_name from data_matching_information_tb
            where from_table_name = %s and from_column_name = %s and to_table_name = %s;

('temp_tb', '종가', 'daily_stock_price_tb')

            select to_column_name from data_matching_information_tb
            where from_table_name = %s and from_column_name = %s and to_table_name = %s;

('temp_tb', '전일대비', 'daily_stock_price_tb')

            select to_column_name from data_matching_information_tb
            where from_table_name = %s and from_column_name = %s and to_table_name = %s;

('temp_tb', '등락률', 'daily_stock_price_tb')

            select to_column_name from data_matching_information_tb
            where from_table_name = %s and from_column_name = %s and to_table_name = %s;

('temp_tb', '거래량', 'daily_stock_price_tb')

            select to_column_name from data_matching_information_tb
            where from_table_name = %s and from_column_name = %s and to_table_name = %s;

('temp_tb', '거래대금', 'daily_stock_price_tb')

            select to_column_name from data_matching_information_tb
            where from_table_name = %s and from_column_name = %s and to_table_name = %s;

('temp_tb', '상장주식수', 'daily_stock_price_tb')
stock_code = values(stock_code), stock_name = values(stock_name), market = values(market), department = values(department), open_price = values(open_price), high_price = values(high_price), low_price = values(low_price), close_price = values(close_price), cmpared_prev_price = values(cmpared_prev_price), fluctuation_rate = values(fluctuation_rate), trading_volume = values(trading_volume), trading_value = values(trading_value), listed_shared = values(listed_shared), now() = values(now()), is_updated='y', updated_date=now()

        insert into daily_stock_price_tb (
            stock_code, stock_name, market, department, open_price, high_price, low_price, close_price, cmpared_prev_price, fluctuation_rate, trading_volume, trading_value, listed_shared, now()
        )
        select 티커, 종목명, 시장이름, 소속부, 시가, 고가, 저가, 종가, 전일대비, 등락률, 거래량, 거래대금, 상장주식수, created_date
        from temp_tb
        on duplicate key update stock_code = values(stock_code), stock_name = values(stock_name), market = values(market), department = values(department), open_price = values(open_price), high_price = values(high_price), low_price = values(low_price), close_price = values(close_price), cmpared_prev_price = values(cmpared_prev_price), fluctuation_rate = values(fluctuation_rate), trading_volume = values(trading_volume), trading_value = values(trading_value), listed_shared = values(listed_shared), now() = values(now()), is_updated='y', updated_date=now()

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'now() \n        )\n        select 티커, 종목명, 시장이름, 소속부, ...' at line 2")

In [ ]:
dbm.close()